<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Star Wars Films</h1>
      <hr>
      <button (click)="onGetFilms()">Get Films</button>
      <ul>
        <li *ngFor="let film of films">{{film.title}}</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h1>Star Wars Characters</h1>
      <hr>
      <button (click)="onGetPeople()">Get Characters</button>
      <ul>
        <li *ngFor="let person of people">{{person.name}}</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h1>Star Wars Planets</h1>
      <hr>
      <button (click)="onGetPeople()">Get Planets</button>
      <ul>
        <li *ngFor="let person of people">{{person.name}}</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h1>Star Wars Species</h1>
      <hr>
      <button (click)="onGetPeople()">Get Species</button>
      <ul>
        <li *ngFor="let person of people">{{person.name}}</li>
      </ul>
    </div>
  </div>
</div>
