/* You can add global styles to this file, and also import other style files */
/*************** Custom Styles - Start ************/

.header-footer {
    background: linear-gradient(135deg, #000014, #004157);
    color: #fff;
    padding: 25px;
}

.footer {
position: fixed;
bottom: 0%;
width: 100%;
}

.my-container {
width: 100%;
padding: 40px;
margin-right: auto;
margin-left: auto;
}

.my-btn {
background: #fff;
display: inline-block;
font-weight: 400;
border: 1px solid #004157;
padding: 0.375rem 0.75rem;
font-size: 1rem;
line-height: 1.5;
border-radius: 0.25rem;
-webkit-transition: ease-in-out 240ms;
-moz-transition: ease-in-out 240ms;
-ms-transition: ease-in-out 240ms;
-o-transition: ease-in-out 240ms;
transition: ease-in-out 240ms;
}

.my-btn:hover {
color:#fff;
background: linear-gradient(135deg, #000014, #004157);
}

.my-btn:focus {
outline: 0;
box-shadow: 0;
}

/*************** Custom Styles - End ************/